<br>
<br>
<p class="fs-3 fw-bold text-decoration-underline">İLETİŞİM</p>
<div class="card" style="width: 18rem;">
    <img src="https://media.licdn.com/dms/image/v2/D4D03AQFpwXh2q7iF5A/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1685450314372?e=2147483647&v=beta&t=XvOjjUoi5IaUq0yuDuT-DgLsevmwR6CUc1INNNZafhk" class="card-img-top" alt="İnternetinizi kontrol ediniz">
    <div class="card-body">
      <h5 class="card-title">EKREM ARDA UĞUR</h5>
      <p class="card-text">Ekrem Arda Uğur</p>
      <p class="card-text">90 543 916 80 93 </p>
      <p class="card-text">ekremugur_07&#64;hotmail.com</p>
      <a href="https://tr.linkedin.com/in/ekrem-arda-u%C4%9Fur-0761a31a3?trk=people-guest_people_search-card" class="btn btn-primary">Linkedin profilim</a>
    </div>
  </div>
